<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Register book</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <link th:href="@{styles/background.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<center> <i class="fa-solid fa-user fa-lg" style="font-size: 90px; margin: 90px 0 50px 0; color: #184081;"></i> </center>

<div class="container my-2 p-2" >
    <center><p>Use these credentials to log in as a user(first you should register patron and then log out)</p></center>
    <h4 class="text-center">New Patron Register</h4>

    <form class="col-md-4 offset-md-4" th:action="@{/save_patron}" method="post">

        <span>first name</span>
        <input type="text" class="form-control" name="firstName" required>
        <span>last name</span>
        <input type="text" class="form-control" name="lastName" required>
        <span>Email</span>
        <input type="text" class="form-control" name="email" required>
        <span>password</span>
        <input type="text" class="form-control" name="password" required>
        <span>contact info</span>
        <input type="text" class="form-control" name="contactInfo" required>
        <span>membership status</span>
        <input type="text" class="form-control" name="membershipStatus" required>
        <input type="hidden" name="role"  value="patron"/>


        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>