<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{styles/background.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container my-4">
    <h1 class="my-4">Search for Books</h1>
    <form th:action="@{/search}" method="post" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-4">
                <select name="thing" id="mainSelect" style="margin-bottom: 20px">
                    <option value="" disabled selected>Choose</option>
                    <option value="patron">Patron</option>
                    <option value="book">Book</option>
                </select>
            </div>
            <div id="dynamicSelect"></div>
            <div class="form-group col-sm-3">
                <input type="text" name="searchTerm" class="form-control" placeholder="Type...">
            </div>
            <br>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>


    <div th:if="${thing == 'book'}">
        <h3>Search Results</h3>
        <div class="container my-2">
            <table class="table table-bordered table-striped table-hover table-custom">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b : ${books}">
                    <td th:text="${b.id}"></td>
                    <td th:text="${b.title}"></td>
                    <td th:text="${b.author}"></td>
                    <td th:text="${b.ISBN}"></td>
                    <td th:text="${b.genre}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${thing == 'patron'}">
        <h3>Search Results</h3>
        <div class="container my-2">
            <table class="table table-bordered table-striped table-hover table-custom">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Info</th>
                    <th scope="col">Membership Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${patrons}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.firstName}" class="title"></td>
                    <td th:text="${p.lastName}"></td>
                    <td th:text="${p.email}"></td>
                    <td th:text="${p.contactInfo}"></td>
                    <td th:text="${p.membershipStatus}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{js/search.js}"></script>

</body>

<style>
    .table-custom thead th {
        background-color: #5e5454;
        color: #fff;
    }
</style>
</html>
