
.table-custom thead th {
    background-color: #333;
    color: #fff;
}


.table-custom tbody td {
    color: #333;
}


.table-custom tbody tr {
    margin-bottom: 10px;
}


.action{
    width: 25%;
}

.icon{
    margin:70px 0 30px 0;
    color: #184081;
}

.btn{
    width: 48%;
}


